<h2>Stats</h2>
<% if current_user %>
  <h1>Profile</h1><br/>
  <%= current_user.first_name %> <%= current_user.last_name %><br/><br/>
  <%= current_user.email %><br/><br/>
  <%= image_tag(current_user.avatar.url(:medium)) %><br/><br/>
  <%= line_chart @line_chart_array, xtitle: "Recent Tests", ytitle: "Number Correct Out of 10", max: 10, discrete: true, library: {curveType: "none", title: "Test Attempt Scores", vAxis: {gridlines: {count: 6}}} %>
  <%= column_chart @column_chart_family, xtitle: "Questions", colors: ["blue", "red"], library: {title: "Family Category"} %>
  <%= column_chart  @column_chart_food, xtitle: "Questions", colors: ["blue", "red"], library: {title: "Food Category"} %>
  <%= column_chart  @column_chart_feelings, xtitle: "Questions", colors: ["blue", "red"], library: {title: "Feelings Category"} %>
  <%= column_chart  @column_chart_occupation, xtitle: "Questions", colors: ["blue", "red"], library: {title: "Occupation Category"} %>
  <%= column_chart  @column_chart_transportation, xtitle: "Questions", colors: ["blue", "red"], library: {title: "Transportation Category"} %>
<% else %>
  <h1>You Need To Sign Up!</h1>
  <h3>Keep track of your perfomances.</h3>
  <p>Once, you register you can view stats on how well you do on each question here.</p>
<% end %>

