<h2>Stats</h2>
<% if current_user %>
  <h1>Profile</h1><br/>
  <%= current_user.first_name %> <%= current_user.last_name %><br/><br/>
  <%= current_user.email %><br/><br/>
  <%= image_tag(current_user.avatar.url(:medium)) %><br/><br/>
  <% if @test_attempt_hash_family %>
    <%= line_chart @test_attempt_hash_family, xtitle: "Recent Tests", ytitle: "Number Correct Out of 10", max: 10, colors: ["green"], discrete: true, library: {curveType: "none", title: "Family Category", vAxis: {gridlines: {count: 6}}} %>
  <% end %>
  <% if @test_attempt_hash_food %>
    <%= line_chart @test_attempt_hash_food, xtitle: "Recent Tests", ytitle: "Number Correct Out of 10", max: 10, colors: ["green"], discrete: true, library: {curveType: "none", title: "Food Category", vAxis: {gridlines: {count: 6}}} %>
  <% end %>
  <% if @test_attempt_hash_feelings %>
    <%= line_chart @test_attempt_hash_feelings, xtitle: "Recent Tests", ytitle: "Number Correct Out of 10", max: 10, colors: ["green"], discrete: true, library: {curveType: "none", title: "Feelings Category", vAxis: {gridlines: {count: 6}}} %>
  <% end %>
  <%= pie_chart @chart_hash_family %>
  <%= pie_chart @chart_hash_feelings %>
  <%= column_chart @chart_hash_family %>
<% else %>
  <h1>You Need To Sign Up!</h1>
  <h3>Keep track of your perfomances.</h3>
  <p>Once, you register you can view stats on how well you do on each question here.</p>
<% end %>

