<h1>Home</h1>

<ul>
	<li><%= link_to 'Home', '/home', :method => :get %> </li>
	<li> <%= link_to 'About', '/about', :method => :get %> </li>
	<li> <%= link_to 'Tests', tests_index_path, :method => :get %> </li>
</ul>

<ul>
	<li><%= link_to "Log In", new_user_session_path, :id => "loginbutton", :method => :get unless current_user %></li>
	<li><%= link_to "Sign Up", new_user_registration_path, :id => "signupbutton", :method => :get unless current_user %></li>

	<li><%= link_to "Log Out", destroy_user_session_path, :id => "logoutbutton", :method => :delete if current_user %></li>
	<li><%= link_to "Profile", '/users/profile', :method => :get if current_user %></li>
</ul>
