<h1>Home</h1>

<ul>
	<li><%= link_to 'Home', '/home', :method => :get %> </li>
	<li> <%= link_to 'About', '/about', :method => :get %> </li>
	<li> <%= link_to 'Tests', tests_index_path, :method => :get %> </li>
</ul>

<section id='home'>

  <div id='container'>
    <% if current_user %>
      <%= render partial: '/home/welcome'  %>
    <% else %>
      Welcome, please sign in or sign up<br/>
      <button id='signup-show'>Ajax Signup</button>
      <button id='login-show'>Ajax Log In</button>
      <%= render partial: './users/signup' %>
      <%= render partial: './users/login' %>
      <div id="message"></div>
    <% end %>

  </div>

</section>
