<!DOCTYPE html>
<html>
<head>
  <title>GoSign</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="headWrap">
		<header>
			<div class="auLogoWrap">
				<a href="#"><div class="auLogosm"></div></a>

			</div>
			<nav>
			<ul>
			<li><%= link_to 'Home', '/home', :method => :get %> </li>
			<li> <%= link_to 'About', '/about', :method => :get %> </li>
			<!--<li> <%= link_to 'Tests', tests_index_path, :method => :get %> </li>-->
			<li>
				<% if current_user %>
					<%= link_to "Log Out", destroy_user_session_path, :id => "logoutbutton", :method => :delete if current_user %>
				
					<% end %>
			</li>
			</ul>
			</nav>
		</header>
		<div class="clear"></div>
	</div>
		<!-- body style-->
	<div class="contentWrap">
		<div class="content">	
		<%= yield %>
		</div>
	</div>
</body>
</html>



<!-- <nav>
  <% if current_user %>
    <ul class="name&avatar">
      <li class="username"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
    </ul>
  <% end %>
</nav> -->