<!DOCTYPE html>
<html>
<head>
  <title>GoSign</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
</head>
<body>
<%= Gon::Base.render_data %>

<nav>
  <% if current_user %>
    <ul class="name&avatar">
      <li class="username"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
    </ul>
  <% end %>
</nav>

<%= yield %>

</body>
</html>
